$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-map-marker: "\f041";
$icon-shopping-cart: "\f07a";
$icon-phone: "\f095";
$icon-bolt: "\f0e7";
$icon-flash: "\f0e7";
$icon-angle-right: "\f105";
$icon-location-arrow: "\f124";

